@import '../../../scss/variables.scss';

.container {
  min-height: 276px;
  width: 212px;
  border-radius: 8px;
  border: 1px solid $gray300;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  .denotation {
    > h3 {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: $gray500;
    }
    > h4 {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $gray700;
      height: 40px;
      overflow: hidden;
    }
  }

  .graphWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .latestDateTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $gray500;
  }
  .latestDate {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: $gray700;
  }
}
