@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.container {
  margin-top: 32px;
  width: 636px;
  height: calc(100vh - 177px);
  border-radius: 8px;
  box-shadow: $main-shadow;
  background-color: $white;

  .titleWrapper {
    display: flex;
    align-items: center;
    font-weight: 500;
    .title {
      @include todos-title;
    }
    .amount {
      @include todos-amount;
    }
  }

  .tableWrapper {
    padding-left: 18px;
    padding-right: 7px;

    .listHeaders {
      display: flex;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $gray500;
      height: 44px;
      width: 600px;
      border-bottom: 1px solid $gray100;

      .invoice {
        width: 339px;
        display: flex;
        align-items: center;
        > span {
          margin-left: 8px;
        }
      }
      .status {
        @include list-header-element;
      }
      .dueDate {
        @include list-header-element;
      }
    }

    .todosList {
      height: calc(100vh - 284px);
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        margin-bottom: 8px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $primary200;
        border-radius: 2px;
      }
    }
  }
}
